@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}
body {
  overflow-x: hidden;
}

.innerWidth {
  @apply w-full md:w-[90%] m-auto px-4 md:pl-0 md:pr-0;
}
.heading {
  @apply text-3xl lg:text-4xl leading-[30px] lg:leading-[48px] font-medium text-dark capitalize font-jost;
}
.subheading {
  @apply text-xl lg:text-2xl font-medium font-jost text-dark;
}
.paragraph {
  @apply text-base font-normal text-[#7F8495] mt-1.5;
}

.gap-14 > div:nth-child(4),
.gap-14 > div:nth-child(5),
.gap-14 > div:nth-child(6) {
  top: 30px !important;
}
.gap-14 > div:nth-child(4) {
  width: 100% !important;
  margin: auto !important;
}
.slick-slide {
  padding: 55px;
}
.hero-slider .slick-slide {
  @apply p-0 w-full lg:h-[700px];
}
.slick-dots {
  bottom: 85px !important;
}
.slick-dots li button::before {
  font-size: 14px !important;
  color: transparent !important;
  border: 1px solid #fff !important;
  border-radius: 50%;
  opacity: 1 !important;
}
.slick-dots li.slick-active button::before {
  color: #fe2a6f !important;
}
.services-slider .slick-dots {
  bottom: 0px !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media screen and (max-width: 768px) {
  .slick-dots li button::before {
    font-size: 10px !important;
  }

  .slick-dots li.slick-active button::before {
    opacity: 0.75;

    color: black;
  }
  .slick-dots li.slick-active button::before {
    color: #fe2a6f !important;
  }
  .slick-dots {
    bottom: 30px !important;
  }
}
